@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
    padding-right: 24px;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

