<h1 style=" margin-top:50px; margin-left: 40px"><b>Your Next Destination in the United States</b></h1>




<mat-tab-group mat-align-tabs="start">

  <mat-tab label="Welcome">
    <p style="margin-left: 40px; margin-top: 40px"><b>Are you traveling to the United States?</b></p>
    <p style="margin-left: 40px">If you are, you're in the right place.</p>
    <p style="margin-left: 40px">In the Overview tab, you can check which states are recommended to visit at certain months
     and the living costs there.</p>
    <p style="margin-left: 40px">If you have a question about one or more states, you can ask your question in the Search tab. (Information was taken from WikiVoyage.)</p>
    <p style="margin-left: 40px">If you want to take a look at some photos of the United States, you can also do that in the Photo Gallery tab!</p>
    <p style="margin-left: 40px">Enjoy your time here! </p>
  </mat-tab>

  <mat-tab label="Overview">

    <mat-vertical-stepper  #stepper>
  <mat-step >

      <ng-template matStepLabel>Choose months</ng-template>

    What month(s) will you be traveling in the United States?
    <br>
    <br>

    <select [(ngModel)]="selectedMonth" (change) = "selected_months()">

    <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
    </select>
    <br>
    Months selected: <b>{{ total_selectedMonth | json }}</b>
    <br>
      <button mat-button (click)="reset_months()">Reset</button>
      <br>
    <br>
    <br>
      <div>
        <button mat-raised-button matStepperNext (click) = "submit_months()">Submit</button>
      </div>

  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Table</ng-template>
    <p> This table shows which states are recommended to be visited in your selected month(s).</p>
    <p>The details tell you when in the month (early, middle, late) is the recommended time to visit.</p>
    <p> The higher the cost rank, the higher the living cost. </p>
    <table mat-table [dataSource]="dataSource0" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="State">
    <th mat-header-cell *matHeaderCellDef> State </th>
   <!-- <td mat-cell *matCellDef="let element"> {{element}} </td>-->
    <td mat-cell *matCellDef="let element; index as i"> {{element.State}}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Month">
    <th mat-header-cell *matHeaderCellDef> Month </th>
    <td mat-cell *matCellDef="let element"> {{element.Month}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element"> {{element.Details}} </td>
  </ng-container>

      <ng-container matColumnDef="costRank">
    <th mat-header-cell *matHeaderCellDef> Cost Rank </th>
    <td mat-cell *matCellDef="let element"> {{element.costRank}} </td>
  </ng-container>

      <ng-container matColumnDef="jpg_url">
    <th mat-header-cell *matHeaderCellDef> Map </th>
   <!-- <td mat-cell *matCellDef="let element"> {{element}} </td>-->
    <td mat-cell *matCellDef="let element; index as i">
    <button mat-raised-button (click)="openStateModal(element, i)">Map</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns0"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns0;"></tr>


</table>
    <mat-paginator [pageSizeOptions]="[10,20,30]"
                   showFirstLastButtons>

    </mat-paginator>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>

  </mat-step>

</mat-vertical-stepper>

  </mat-tab>



  <mat-tab label="Search">

    <mat-vertical-stepper>
  <!--<button mat-button [matMenuTriggerFor]="menu">Choose a State</button> -->
<!--<mat-menu #menu="matMenu">-->
      <mat-step >
         <ng-template matStepLabel>State(s) & Question</ng-template>
        <p>Which state(s) are you curious about?</p>
        <br>

  <select [(ngModel)]="selectedLevel" (change) = "selected()">
  <!--<button mat-menu-item *ngFor="let state of states" [ngValue] ="state">
    {{ state }}
  </button> -->
    <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
  </select>
        <br> <br>
        Selected state(s): <b>{{ total_selectedLevel | json }}</b>
    <br>
    <button mat-button (click)="reset_state()">Reset</button>
    <br><br>
 <p>What would you like to search for in your selected state(s)?</p>
<form [formGroup] = "myForm">

    <input style="height:20px;font-size:12pt;width:30%"  formControlName="query" required>
</form>
        <br><br>
  <div>
        <button mat-raised-button matStepperNext (click) = "submit()">Submit</button>
  </div>
      </mat-step>


<mat-step >
  <ng-template matStepLabel>Table</ng-template>
  <p>This table may provide some answers to your question.</p>
  <br>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> state </th>
   <!-- <td mat-cell *matCellDef="let element"> {{element}} </td>-->
    <td mat-cell *matCellDef="let element"> {{element.state}}
    </td>


  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> city </th>
    <td mat-cell *matCellDef="let element; index as i"> {{element.city}}
    </td>
  </ng-container>

    <ng-container matColumnDef="images_title">
    <th mat-header-cell *matHeaderCellDef> Images </th>
    <td mat-cell *matCellDef="let element; index as i">
    <button mat-raised-button (click)="openImageModal(element, i)">Image</button>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>

</mat-step>
    </mat-vertical-stepper>
</mat-tab>
  <mat-tab label="Photo Gallery">
   <mat-form-field>
  <mat-label><mat-icon aria-hidden = "false" aria-label="search">search</mat-icon></mat-label>
  <input matInput (keyup)="doFilter($event.target.value)" placeholder="Ex. New_York" #input>
    </mat-form-field>
    <mat-grid-list cols="2" rowHeight="500px" pagination="True">
      <mat-grid-tile *ngFor="let element of dataSourcePhotos.connect().value">
        <img [src] = "element.photo_url" layout-fill>
      <mat-grid-tile-footer >
        {{element.titles}}
      </mat-grid-tile-footer>

      </mat-grid-tile>

    </mat-grid-list>
    <mat-paginator [pageSizeOptions]="[10,20,30]"
                   showFirstLastButtons>

    </mat-paginator>

  </mat-tab>

  </mat-tab-group>

<mat-spinner style="margin:0 auto;" *ngIf="showSpinner"></mat-spinner>
